$text: $foreground;
$error: $red;
$keyword: $purple;
$literal: $orange;
$name: $text;
$operator: $text;
$punctuation: $text;
$comment-multiline: $comment;
$comment-preproc: $comment;
$comment-single: $comment;
$comment-special: $comment;
$deleted: $red;
$heading: $text;
$inserted: $green;
$prompt: $green;
$subheading: $aqua;
$keyword-constant: $purple;
$keyword-declaration: $purple;
$keyword-namespace: $aqua;
$keyword-pseudo: $blue;
$keyword-reserved: $purple;
$keyword-type: $yellow;
$literal-date: $green;
$literal-number: $orange;
$literal-string: $green;
$name-attribute: $blue;
$name-builtin: $blue;
$name-class: $yellow;
$name-constant: $yellow;
$name-decorator: $aqua;
$name-entity: $text;
$name-exception: $red;
$name-function: $blue;
$name-label: $text;
$name-namespace: $yellow;
$name-other: $blue;
$name-property: $text;
$name-tag: $aqua;
$name-variable: $red;
$operator-word: $aqua;
$whitespace: $text;
$literal-number-float: $orange;
$literal-number-hex: $orange;
$literal-number-integer: $orange;
$literal-number-oct: $orange;
$literal-string-backtick: $green;
$literal-string-char: $text;
$literal-string-doc: $text;
$literal-string-double: $green;
$literal-string-escape: $orange;
$literal-string-heredoc: $green;
$literal-string-interpol: $orange;
$literal-string-other: $green;
$literal-string-regex: $green;
$literal-string-single: $green;
$literal-string-symbol: $green;
$name-builtin-pseudo: $text;
$name-variable-class: $red;
$name-variable-global: $red;
$name-variable-instance: $red;
$literal-number-integer-long: $orange;
