$background: #ffffff;
$current-line: #efefef;
$selection: #d6d6d6;
$foreground: #4d4d4c;
$comment: #8e908c;

$red: #c82829;
$orange: #f5871f;
$yellow: #eab700;
$green: #718c00;
$aqua: #3e999f;
$blue: #4271ae;
$purple: #8959a8;
