DATABASE_URL=postgres://username:password@server/database
REDIS_URL=redis://localhost
SIDEKIQ_URL=redis://localhost/1
EMAIL_TEMPLATES=webserver/web/emails/*
# this should be a base URL pointing to the publicly-accessible camo server
CAMO_URL=http://path-to-camo/
# this should be the secret key for the camo server
CAMO_KEY=your camo key
