webserver/web/static/css/style.css linguist-generated
webserver/web/static/css/style.css.map linguist-generated
webserver/web/static/css/dark-style.css linguist-generated
webserver/web/static/css/dark-style.css.map linguist-generated
webserver/web/static/js/*/* linguist-vendored
webserver/src/models/id/*.rs linguist-language=Rust
