/target
**/*.rs.bk

/node_modules
/package-lock.json

/Rocket.toml
/config.toml
/.env
/sidekiq.yml
/sidekiq.sh

.docker/nginx/certs/*
.docker/nginx/sites/*.conf
.docker/nginx/nginx.conf

.docker/run/.cargo/registry
.docker/run/.cargo/git
