[submodule "web/src/css/bulma"]
	path = webserver/web/src/css/bulma
	url = https://github.com/jgthms/bulma
[submodule "web/src/css/bulmaswatch"]
	path = webserver/web/src/css/bulmaswatch
	url = https://github.com/jkcclemens/bulmaswatch
	branch = gh-pages
[submodule "web/src/css/bulma-tooltip"]
	path = webserver/web/src/css/bulma-tooltip
	url = https://github.com/Wikiki/bulma-tooltip
[submodule ".docker/camo"]
	path = .docker/camo
	url = https://github.com/atmos/camo
