web/static/css/style.css linguist-generated
web/static/css/style.css.map linguist-generated
web/static/css/dark-style.css linguist-generated
web/static/css/dark-style.css.map linguist-generated
web/static/js/ace-min-noconflict/* linguist-vendored
web/static/js/highlight.pack.js linguist-vendored
web/static/js/zxcvbn/* linguist-vendored
web/static/js/modernizr/* linguist-vendored
