<p>
  Hi, {{ user.name }}!
</p>
<p>
  Please click on the link below to reset your password on
  <strong>{{ config.general.site_name }}</strong>.
</p>
<p>
  <a href="{{ reset_url | safe }}">Reset password</a> (expires in 24 hours)
</p>
<p>
  Thanks!
</p>
