<p>
  Hi, {{ user.name }}!
</p>
<p>
  Please click the link below to verify your email on <strong>{{ config.general.site_name }}</strong>.
</p>
<p>
  <a href="{{ verify_url | safe }}">Verify</a>
</p>
<p>
  Thanks!
</p>
