<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {% endblock head %}
</head>
<body>
{% block body %}{% endblock body %}
</body>
</html>
