<!doctype html>
<html lang="en" class="no-js">
<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}{% endblock title %} | {{ config.general.site_name }}</title>
  <script
    src="/static/js/modernizr/modernizr-custom.js?v={{ resources_version }}"
    integrity="sha384-nmxvr0DOHzo6J5xr1kkRbsKZKEzGpWt+uEYGuBe3s4laMM5hvBHT52PKYqSHiIk4"></script>
  {% endblock head %}
</head>
<body>
{% block body %}{% endblock body %}
</body>
</html>
