{% extends "base" %}

{% block head -%}
{{ super() }}
{%- endblock head %}

{% block title -%}
400
{%- endblock title %}

{% block header_title -%}
400
{%- endblock header_title %}

{% block header_subtitle -%}
Bad request.
{%- endblock header_subtitle %}

{% block main %}
Your request was bad. This error message is bad.
{% endblock main %}
