{% extends "base" %}

{% block head -%}
{{ super() }}
{%- endblock head %}

{% block title -%}
400
{%- endblock title %}

{% block header_title -%}
400
{%- endblock header_title %}

{% block header_subtitle -%}
{{ tr(_langs=langs, _msg="error-400") }}
{%- endblock header_subtitle %}

{% block main %}
{{ tr(_langs=langs, _msg="error-400", _attr="description") }}
{% endblock main %}
