{% extends "base" %}

{% block head -%}
{{ super() }}
{%- endblock head %}

{% block title -%}
403
{%- endblock title %}

{% block header_title -%}
403
{%- endblock header_title %}

{% block header_subtitle -%}
{{ tr(_langs=langs, _msg="error-403") }}
{%- endblock header_subtitle %}

{% block main %}
{{ tr(_langs=langs, _msg="error-403", _attr="description") }}
{% endblock main %}
