{% extends "base" %}

{% block head -%}
{{ super() }}
{%- endblock head %}

{% block title -%}
500
{%- endblock title %}

{% block header_title -%}
500
{%- endblock header_title %}

{% block header_subtitle -%}
{{ tr(_langs=langs, _msg="error-500") }}
{%- endblock header_subtitle %}

{% block main %}
{{ tr(_langs=langs, _msg="error-500", _attr="description") | safe }}
{% endblock main %}
