{% extends "base" %}

{% block head -%}
{{ super() }}
{%- endblock head %}

{% block title -%}
Error
{%- endblock title %}

{% block header_title -%}
Error
{%- endblock header_title %}

{% block header_subtitle -%}
{{ tr(_langs=langs, _msg="error-other") }}
{%- endblock header_subtitle %}

{% block main %}
{{ tr(_langs=langs, _msg="error-other", _attr="description") }}
{% endblock main %}
