pre.file-source .w {
  color: #d0d0d0;
  background-color: #151515;
}
pre.file-source .err {
  color: #151515;
  background-color: #ac4142;
}
pre.file-source .c, pre.file-source .ch, pre.file-source .cd, pre.file-source .cm, pre.file-source .cpf, pre.file-source .c1, pre.file-source .cs {
  color: #505050;
}
pre.file-source .cp {
  color: #f4bf75;
}
pre.file-source .nt {
  color: #f4bf75;
}
pre.file-source .o, pre.file-source .ow {
  color: #d0d0d0;
}
pre.file-source .p, pre.file-source .pi {
  color: #d0d0d0;
}
pre.file-source .gi {
  color: #90a959;
}
pre.file-source .gd {
  color: #ac4142;
}
pre.file-source .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}
pre.file-source .k, pre.file-source .kn, pre.file-source .kp, pre.file-source .kr, pre.file-source .kv {
  color: #aa759f;
}
pre.file-source .kc {
  color: #d28445;
}
pre.file-source .kt {
  color: #d28445;
}
pre.file-source .kd {
  color: #d28445;
}
pre.file-source .s, pre.file-source .sa, pre.file-source .sb, pre.file-source .sc, pre.file-source .dl, pre.file-source .sd, pre.file-source .s2, pre.file-source .sh, pre.file-source .sx, pre.file-source .s1 {
  color: #90a959;
}
pre.file-source .sr {
  color: #75b5aa;
}
pre.file-source .si {
  color: #8f5536;
}
pre.file-source .se {
  color: #8f5536;
}
pre.file-source .nn {
  color: #f4bf75;
}
pre.file-source .nc {
  color: #f4bf75;
}
pre.file-source .no {
  color: #f4bf75;
}
pre.file-source .na {
  color: #6a9fb5;
}
pre.file-source .m, pre.file-source .mb, pre.file-source .mf, pre.file-source .mh, pre.file-source .mi, pre.file-source .il, pre.file-source .mo, pre.file-source .mx {
  color: #90a959;
}
pre.file-source .ss {
  color: #90a959;
}
