pre.file-source {
  background-color: rgb(40, 44, 52);
}

pre > code span.hl-variable.hl-parameter.hl-function {
  color: #c0c5ce;
}

pre > code span.hl-comment, pre > code span.hl-punctuation.hl-definition.hl-comment {
  color: #65737e;
}

pre > code span.hl-punctuation.hl-definition.hl-string, pre > code span.hl-punctuation.hl-definition.hl-variable, pre > code span.hl-punctuation.hl-definition.hl-string, pre > code span.hl-punctuation.hl-definition.hl-parameters, pre > code span.hl-punctuation.hl-definition.hl-string, pre > code span.hl-punctuation.hl-definition.hl-array {
  color: #c0c5ce;
}

pre > code span.hl-none {
  color: #c0c5ce;
}

pre > code span.hl-keyword.hl-operator {
  color: #c0c5ce;
}

pre > code span.hl-keyword, pre > code span.hl-keyword.hl-operator.hl-logical.hl-python {
  color: #b48ead;
}

pre > code span.hl-variable, pre > code span.hl-variable.hl-other.hl-dollar.hl-only.hl-js {
  color: #bf616a;
}

pre > code span.hl-entity.hl-name.hl-function, pre > code span.hl-meta.hl-require, pre > code span.hl-support.hl-function.hl-any-method, pre > code span.hl-variable.hl-function {
  color: #8fa1b3;
}

pre > code span.hl-support.hl-class, pre > code span.hl-entity.hl-name.hl-class, pre > code span.hl-entity.hl-name.hl-type.hl-class {
  color: #ebcb8b;
}

pre > code span.hl-meta.hl-class {
  color: #eff1f5;
}

pre > code span.hl-keyword.hl-other.hl-special-method {
  color: #8fa1b3;
}

pre > code span.hl-storage {
  color: #b48ead;
}

pre > code span.hl-support.hl-function {
  color: #96b5b4;
}

pre > code span.hl-string, pre > code span.hl-constant.hl-other.hl-symbol, pre > code span.hl-entity.hl-other.hl-inherited-class {
  color: #a3be8c;
}

pre > code span.hl-constant.hl-numeric {
  color: #d08770;
}

pre > code span.hl-none {
  color: #d08770;
}

pre > code span.hl-none {
  color: #d08770;
}

pre > code span.hl-constant {
  color: #d08770;
}

pre > code span.hl-entity.hl-name.hl-tag {
  color: #bf616a;
}

pre > code span.hl-entity.hl-other.hl-attribute-name {
  color: #d08770;
}

pre > code span.hl-entity.hl-other.hl-attribute-name.hl-id, pre > code span.hl-punctuation.hl-definition.hl-entity {
  color: #8fa1b3;
}

pre > code span.hl-meta.hl-selector {
  color: #b48ead;
}

pre > code span.hl-none {
  color: #d08770;
}

pre > code span.hl-entity.hl-name.hl-section {
  color: #8fa1b3;
}

pre > code span.hl-keyword.hl-other.hl-unit {
  color: #d08770;
}

pre > code span.hl-markup.hl-bold, pre > code span.hl-punctuation.hl-definition.hl-bold {
  color: #ebcb8b;
  font-weight: bold;
}

pre > code span.hl-markup.hl-italic, pre > code span.hl-punctuation.hl-definition.hl-italic {
  color: #b48ead;
  font-style: italic;
}

pre > code span.hl-markup.hl-raw.hl-inline {
  color: #a3be8c;
}

pre > code span.hl-string.hl-other.hl-link {
  color: #bf616a;
}

pre > code span.hl-meta.hl-link {
  color: #d08770;
}

pre > code span.hl-meta.hl-image {
  color: #d08770;
}

pre > code span.hl-markup.hl-list {
  color: #bf616a;
}

pre > code span.hl-markup.hl-quote {
  color: #d08770;
}

pre > code span.hl-meta.hl-separator {
  color: #c0c5ce;
  background-color: #4f5b66
}

pre > code span.hl-markup.hl-inserted, pre > code span.hl-markup.hl-inserted.hl-git_gutter {
  color: #a3be8c;
}

pre > code span.hl-markup.hl-deleted, pre > code span.hl-markup.hl-deleted.hl-git_gutter {
  color: #bf616a;
}

pre > code span.hl-markup.hl-changed, pre > code span.hl-markup.hl-changed.hl-git_gutter {
  color: #b48ead;
}

pre > code span.hl-markup.hl-ignored, pre > code span.hl-markup.hl-ignored.hl-git_gutter {
  color: #4f5b66;
}

pre > code span.hl-markup.hl-untracked, pre > code span.hl-markup.hl-untracked.hl-git_gutter {
  color: #4f5b66;
}

pre > code span.hl-constant.hl-other.hl-color {
  color: #96b5b4;
}

pre > code span.hl-string.hl-regexp {
  color: #96b5b4;
}

pre > code span.hl-constant.hl-character.hl-escape {
  color: #96b5b4;
}

pre > code span.hl-punctuation.hl-section.hl-embedded, pre > code span.hl-variable.hl-interpolation {
  color: #ab7967;
}

pre > code span.hl-invalid.hl-illegal {
  color: #2b303b;
  background-color: #bf616a
}

pre > code span.hl-markup.hl-deleted.hl-git_gutter {
  color: #f92672;
}

pre > code span.hl-markup.hl-inserted.hl-git_gutter {
  color: #a6e22e;
}

pre > code span.hl-markup.hl-changed.hl-git_gutter {
  color: #967efb;
}

pre > code span.hl-markup.hl-ignored.hl-git_gutter {
  color: #565656;
}

pre > code span.hl-markup.hl-untracked.hl-git_gutter {
  color: #565656;
}
