pre.file-source table td { padding: 5px; }
pre.file-source table pre { margin: 0; }
pre.file-source {
  color: #faf6e4;
  background-color: #122b3b;
}
pre.file-source .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
pre.file-source .gp {
  color: #a8e1fe;
  font-weight: bold;
}
pre.file-source .c, pre.file-source .ch, pre.file-source .cd, pre.file-source .cm, pre.file-source .cpf, pre.file-source .c1, pre.file-source .cs {
  color: #6c8b9f;
  font-style: italic;
}
pre.file-source .cp {
  color: #b2fd6d;
  font-weight: bold;
  font-style: italic;
}
pre.file-source .err {
  color: #fefeec;
  background-color: #cc0000;
}
pre.file-source .gr {
  color: #cc0000;
  font-weight: bold;
  font-style: italic;
}
pre.file-source .k, pre.file-source .kd, pre.file-source .kv {
  color: #f6dd62;
  font-weight: bold;
}
pre.file-source .o, pre.file-source .ow {
  color: #4df4ff;
  font-weight: bold;
}
pre.file-source .p, pre.file-source .pi {
  color: #4df4ff;
}
pre.file-source .gd {
  color: #cc0000;
}
pre.file-source .gi {
  color: #b2fd6d;
}
pre.file-source .ge {
  font-style: italic;
}
pre.file-source .gs {
  font-weight: bold;
}
pre.file-source .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
pre.file-source .kc {
  color: #f696db;
  font-weight: bold;
}
pre.file-source .kn {
  color: #ffb000;
  font-weight: bold;
}
pre.file-source .kp {
  color: #ffb000;
  font-weight: bold;
}
pre.file-source .kr {
  color: #ffb000;
  font-weight: bold;
}
pre.file-source .gh {
  color: #ffb000;
  font-weight: bold;
}
pre.file-source .gu {
  color: #ffb000;
  font-weight: bold;
}
pre.file-source .kt {
  color: #b2fd6d;
  font-weight: bold;
}
pre.file-source .no {
  color: #b2fd6d;
  font-weight: bold;
}
pre.file-source .nc {
  color: #b2fd6d;
  font-weight: bold;
}
pre.file-source .nd {
  color: #b2fd6d;
  font-weight: bold;
}
pre.file-source .nn {
  color: #b2fd6d;
  font-weight: bold;
}
pre.file-source .bp {
  color: #b2fd6d;
  font-weight: bold;
}
pre.file-source .ne {
  color: #b2fd6d;
  font-weight: bold;
}
pre.file-source .nl {
  color: #ffb000;
  font-weight: bold;
}
pre.file-source .nt {
  color: #ffb000;
  font-weight: bold;
}
pre.file-source .m, pre.file-source .mb, pre.file-source .mf, pre.file-source .mh, pre.file-source .mi, pre.file-source .il, pre.file-source .mo, pre.file-source .mx {
  color: #f696db;
  font-weight: bold;
}
pre.file-source .ld {
  color: #f696db;
  font-weight: bold;
}
pre.file-source .ss {
  color: #f696db;
  font-weight: bold;
}
pre.file-source .s, pre.file-source .sa, pre.file-source .sb, pre.file-source .dl, pre.file-source .sd, pre.file-source .s2, pre.file-source .sh, pre.file-source .sx, pre.file-source .sr, pre.file-source .s1 {
  color: #fff0a6;
  font-weight: bold;
}
pre.file-source .se {
  color: #4df4ff;
  font-weight: bold;
}
pre.file-source .sc {
  color: #4df4ff;
  font-weight: bold;
}
pre.file-source .si {
  color: #4df4ff;
  font-weight: bold;
}
pre.file-source .nb {
  font-weight: bold;
}
pre.file-source .ni {
  color: #999999;
  font-weight: bold;
}
pre.file-source .w {
  color: #BBBBBB;
}
pre.file-source .go {
  color: #BBBBBB;
}
pre.file-source .nf, pre.file-source .fm {
  color: #a8e1fe;
}
pre.file-source .py {
  color: #a8e1fe;
}
pre.file-source .na {
  color: #a8e1fe;
}
pre.file-source .nv, pre.file-source .vc, pre.file-source .vg, pre.file-source .vi, pre.file-source .vm {
  color: #a8e1fe;
  font-weight: bold;
}
