{% extends "base" %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}
403
{% endblock title %}

{% block header_title %}
403
{% endblock header_title %}

{% block header_subtitle %}
Forbidden.
{% endblock header_subtitle %}

{% block main %}
You're not allowed to see or do whatever it was you were trying to see or do. Stop it.
{% endblock main %}
