@import "bulma-tooltip/src/sass/index";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.wrapper {
  flex: 1;
}

.footer {
  background-color: $background;
}

textarea.paste {
  font-family: monospace;
}

button.button-link {
  &.navbar-item {
    color: inherit;
    width: 100%;
    text-align: inherit;

    &:active {
      color: $navbar-dropdown-item-active-color;
      background-color: $navbar-dropdown-item-active-background-color;
    }

    &:focus {
      color: inherit;
    }

    &:hover {
      color: $navbar-dropdown-item-hover-color;
      background-color: $navbar-dropdown-item-hover-background-color;
    }
  }

  &:hover {
    color: $link-hover;
    border-color: $link-hover-border;
  }

  &:focus {
    color: $link-focus;
    border-color: $link-focus-border;
  }

  &:active {
    color: $link-active;
    border-color: $link-active-border;
  }

  color: $link;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
}

html.js .requires-no-js {
  display: none;
}

html.no-js .requires-js {
  display: none;
}

td.hljs-ln-numbers {
  text-align: right;
}

td.hljs-ln-code {
  padding-left: .5rem !important;
}

.footer .breadcrumb {
  -webkit-touch-callout: unset;
  -webkit-user-select: unset;
  -moz-user-select: unset;
  -ms-user-select: unset;
  user-select: unset;

  a:not([href]) {
    cursor: text;
    pointer-events: unset;
  }
}

.title + .info-tags, .subtitle + .info-tags {
  margin-top: -0.75rem;
}

.paste.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .left {
    order: 1;
  }

  .right {
    order: 2;
  }
}

.paste-submit-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.is-not-displayed {
  display: none;
}

.keeps-spaces {
  white-space: pre-wrap;
}

a.external::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  margin-right: .25rem;

  font-family: "Font Awesome 5 Free";
  font-weight: 900;

  content: "\f35d";
}

table.is-middle td, table.is-middle th {
  vertical-align: middle;
}

.box pre.hljs {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  margin-bottom: -1.25rem;
  margin-top: -1.5rem;
  border-radius: 0 0 $radius-large $radius-large;
  white-space: pre-wrap;
}

.box-title {
  padding: 1.25rem;
  margin-left: -1.25rem;
  margin-top: -1.25rem;
  margin-right: -1.25rem;
  margin-bottom: 1.5rem;

  border-radius: $radius-large $radius-large 0 0;
  box-shadow: inset 0 -2px 0 0 $grey;

  background-color: $dark;

  .title + .tabs {
    margin-top: -1rem;
  }

  .tabs {
    margin-bottom: -1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    ul {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
}

.paste-rendered-content:not(:last-child) {
  margin-bottom: 0;
}
