@import "bulma-tooltip/src/sass/index";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.wrapper {
  flex: 1;
}

.footer {
  background-color: $background;
}

textarea.paste {
  font-family: monospace;
}

button.button-link {
  &.navbar-item {
    color: inherit;
    width: 100%;
    text-align: inherit;

    &:active {
      color: $navbar-dropdown-item-active-color;
      background-color: $navbar-dropdown-item-active-background-color;
    }

    &:focus {
      color: inherit;
    }

    &:hover {
      color: $navbar-dropdown-item-hover-color;
      background-color: $navbar-dropdown-item-hover-background-color;
    }
  }

  &:hover {
    color: $link-hover;
    border-color: $link-hover-border;
  }

  &:focus {
    color: $link-focus;
    border-color: $link-focus-border;
  }

  &:active {
    color: $link-active;
    border-color: $link-active-border;
  }

  color: $link;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
}

html.js .requires-no-js {
  display: none;
}

html.no-js .requires-js {
  display: none;
}

td.hljs-ln-numbers {
  text-align: right;
}

td.hljs-ln-code {
  padding-left: .5rem !important;
}

.footer .breadcrumb {
  -webkit-touch-callout: unset;
  -webkit-user-select: unset;
  -moz-user-select: unset;
  -ms-user-select: unset;
  user-select: unset;

  a:not([href]) {
    cursor: text;
    pointer-events: unset;
  }
}

.title + .info-tags, .subtitle + .info-tags {
  margin-top: -0.75rem;
}

.paste.hero-body {
  padding-bottom: 1.5rem;
}

.hero-foot .tabs {
  padding-bottom: 2px;

  & ul {
    align-items: flex-end;
  }
}

.paste.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .left {
    order: 1;
  }

  .right {
    order: 2;
  }
}

.paste-submit-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.is-not-displayed {
  display: none;
}

.is-dotted-underlined {
  text-decoration: dotted underline;
}

.keeps-spaces {
  white-space: pre-wrap;
}

.right.tag {
  margin-left: .5rem;
}

a.external::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  position: relative;
  bottom: .15rem;

  margin-left: .25rem;

  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: .6rem;

  content: "\f35d";
}

table.is-middle td, table.is-middle th {
  vertical-align: middle;
}

.box pre.file-source {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  margin-bottom: -1.25rem;
  margin-top: -1.5rem;
  border-radius: 0 0 $radius-large $radius-large;
  white-space: pre-wrap;
}

.box pre {
  margin-left: -1.25rem;
  margin-right: -1.25rem;

  white-space: pre-wrap;

  &:first-child {
    margin-top: -1.5rem;
  }

  &:last-child {
    margin-bottom: -1.25rem;
    border-radius: 0 0 $radius-large $radius-large;
  }
}

.box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.25rem;
  margin-left: -1.25rem;
  margin-top: -1.25rem;
  margin-right: -1.25rem;
  margin-bottom: 1.5rem;

  border-radius: $radius-large $radius-large 0 0;
  box-shadow: inset 0 -2px 0 0 $grey;

  background-color: $dark;

  .title + .tabs {
    margin-top: -1rem;
  }

  .tabs {
    margin-bottom: -1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    ul {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
}

.paste-rendered-content:not(:last-child) {
  margin-bottom: 0;
}

th, td {
  &[align=right] {
    text-align: right !important;
  }

  &[align=left] {
    text-align: left !important;
  }

  &[align=center] {
    text-align: center !important;
  }
}

// highlight-js-line-numbers

.hljs-ln {
  border-collapse: collapse;
}

.hljs-ln td {
  padding: 0;
}

.hljs-ln-n {
  color: inherit;

  &:before {
    content: attr(data-line-number);
  }
}

.paste.info {
  color: $grey;
  font-style: italic;

  :not(:first-child):not(:empty)::before {
    content: ' / ';
    color: $grey-light;
  }
}

.diffs .subtitle.hunk > * {
  flex-grow: 1;
}

.diffs .subtitle.hunk {
  margin: 0 -1.25rem;
  padding: 0;
  display: flex;

  &:first-child {
    margin-top: -1.5rem;
  }
}

#paste_upload .columns .column {
  padding-bottom: 0;
}

.label-icon {
  display: flex;

  .icon {
    &.is-right {
      margin-left: .25rem;
    }

    &.is-left {
      margin-right: .25rem;
    }
  }

  a > .icon {
    color: $grey;

    &:hover {
      color: $link-hover;
    }
  }
}
