@import "bulmaswatch/darkly/variables";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables";

// make blue less aggressive
$blue: darken($blue, 10);

// fix link colors to not be vomit-inducing
$link: $blue;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 5);

// fix dependencies on link
$navbar-item-hover-color: $link;
$navbar-item-active-color: $link;
$navbar-dropdown-item-active-color: $link;

// fix pagination
$pagination-color: $grey-lighter;
$pagination-hover-color: $grey-lighter;

// make tags not blend in
$tag-background-color: lighten($grey-darker, 5);

@import "bulma/bulma";
@import "bulmaswatch/darkly/overrides";
@import "custom";

// remove darkly's awful transitions
a {
  transition: unset;
}

.button {
  transition: unset;
}

.input, textarea {
  transition: unset;
}

.menu-list a {
  transition: unset;
}

// remove the unsightly rounded corners on navbars
.navbar {
  border-radius: unset;
}

input[type="text"], input[type="email"], input[type="password"], .select select, textarea {
  background-color: $dark;
  color: $white-ter;
  border-color: $grey-dark;
  &::placeholder {
    color: $grey-light;
  }
}

td.hljs-ln-numbers {
  color: hsl(219, 14%, 35%);
}

.tabs a {
  color: $grey;
}
