$bulmaswatch-import-font: false;

@import "bulmaswatch/darkly/variables";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// make blue less aggressive
$blue: darken($blue, 10);

// fix link colors to not be vomit-inducing
$link: $blue;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 5);

// fix dependencies on link
$navbar-item-hover-color: $link;
$navbar-item-active-color: $link;
$navbar-dropdown-item-active-color: $link;

// fix pagination
$pagination-color: $grey-lighter;
$pagination-hover-color: $grey-lighter;

// make tags not blend in
$tag-background-color: lighten($grey-darker, 5);

// add 256 for figures
$dimensions: 16 24 32 48 64 96 128 256;

// change body size back to normal
$body-size: 1rem;

@import "bulma/sass/utilities/derived-variables";

@import "bulma/bulma";
@import "bulmaswatch/darkly/overrides";
@import "custom";

// remove darkly's awful transitions
a {
  transition: unset;
}

.button {
  transition: unset;
}

.input, textarea {
  transition: unset;
}

.menu-list a {
  transition: unset;
}

// remove the unsightly rounded corners on navbars
.navbar {
  border-radius: unset;

  a:hover, a:active {
    background-color: darken($navbar-background-color, 5);
    color: $white;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
.select select,
textarea {
  background-color: $dark;
  color: $white-ter;
  border-color: $grey-dark;
  &::placeholder {
    color: $grey-light;
  }
}

td.hljs-ln-numbers {
  color: hsl(219, 14%, 35%);
}

.tabs a {
  color: $grey;
}

code, pre {
  font-family: monospace !important;
}

// codesass
$atom-one-dark-background: #282c34;

textarea.codesass__textarea {
  // where does this magic color come from?
  caret-color: rgb(236, 240, 241);
  background-color: $atom-one-dark-background;
}

div.codesass.codesass--has-line-numbers::before {
  background-color: lighten($atom-one-dark-background, 5);
}

.codesass.codesass--has-line-numbers .codesass__lines {
  color: lighten($atom-one-dark-background, 30);
}

.diffs .subtitle.hunk {
  $diff-border: 2px solid darken($grey, 10);

  border-bottom: $diff-border;

  &:not(:first-child) {
    border-top: $diff-border;
  }

  code {
    background-color: darken($grey-darker, 5);
  }
}

.select:not(.is-multiple) {
  // fix arrows
  height: 2.5em;
}

.message.is-warning .message-body pre {
  color: #000;
}

// fonts

/* lato-regular - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/static/fonts/lato/lato-v14-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/lato/lato-v14-latin_latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'),
       url('/static/fonts/lato/lato-v14-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/lato/lato-v14-latin_latin-ext-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/static/fonts/lato/lato-v14-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/lato/lato-v14-latin_latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700italic - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('/static/fonts/lato/lato-v14-latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/lato/lato-v14-latin_latin-ext-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
