@import "bulma-tooltip/src/extension";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.wrapper {
  flex: 1;
}

.footer {
  background-color: $background;
}

textarea.paste {
  font-family: monospace;
}

html.js .requires-no-js {
  display: none;
}

html.no-js .requires-js {
  display: none;
}

td.hljs-ln-numbers {
  text-align: right;
}

td.hljs-ln-code {
  padding-left: .5rem !important;
}
