{% extends "base" %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}
About
{% endblock title %}

{% block header_title %}
About
{% endblock header_title %}

{% block main %}
<div class="content">
  {{ about | safe }}
  <p>
    {{ config.general.site_name }} runs on
    <a class="external" href="https://github.com/jkcclemens/paste">paste</a>, an open-source project
    dedicated to making a sensible, modern pastebin that anyone can host.
  </p>
</div>
{% endblock main %}
