<!doctype html>
<html lang="en" class="no-js">
<head>
  {% block head -%}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}{% endblock title %} · {{ config.general.site_name }}</title>
  <script
    src="/static/js/detect-js.js?v={{ resources_version }}"
    integrity="sha384-steVzOSr5DI5VId9YubIjP5piv7RVCSZI7DmaxRj6VrZPzoPUmw/i6YbPCnE5HIi"></script>
  {%- endblock head -%}
</head>
<body>
{% block body -%}{% endblock body %}
</body>
</html>
